@import url("https://fonts.googleapis.com/css2?family=Georama:wght@500;600&display=swap");

* {
  font-family: "Georama", sans-serif;
  font-size: 20px;
}

.grid {
  background: lightblue;
  display: grid;
  gap: 5px;
  height: 50vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(2, 100px);
  place-content: end space-around;
}

.header {
  background-color: #f6e58d;
}
.content {
  background-color: #badc58;
}
.nav {
  background-color: #ff7979;
}
.footer {
  background-color: #95afc0;
}
