@import url("https://fonts.googleapis.com/css2?family=Georama:wght@500;600&display=swap");

* {
  font-family: "Georama", sans-serif;
  font-size: 28px;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto 200px;
  grid-template-rows: 100px repeat(2, 200px) 100px;
  grid-template-areas:
    "header header header header"
    "content content content nav"
    "content content content nav"
    "footer footer footer footer ";
}

.header {
  background-color: #f6e58d;
  grid-area: header;
}
.content {
  background-color: #badc58;
  grid-area: content;
}
.nav {
  background-color: #ff7979;
  grid-area: nav;
}
.footer {
  background-color: #95afc0;
  grid-area: footer;
}
