@import url("https://fonts.googleapis.com/css2?family=Georama:wght@500;600&display=swap");

* {
  font-family: "Georama", sans-serif;
  font-size: 20px;
}

.grid {
  background: lightblue;
  color:chocolate;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  grid-auto-flow: column;
}

.item:nth-child(odd) {
  background-color: #f6e58d;
}
.item:nth-child(even) {
  background-color: #badc58;
}